<li id="<%= article.id %>">
    <div class="content">
      <p><%= article.Title %></p>
      <a href="<%= article.Url %>" target="_blank" data="<%= article.id %>">Voir l'article <i class="fas fa-arrow-right"></i></a>
      <div id="switchlu" class="display">
        <% if article.Lu == 0 %>
          <%= link_to "Afficher comme Lu", articles_marklu_path(id: article.id), :remote => true %>
        <% else %>
          <p><i class="fas fa-check"></i>Lu</p>
          <%= link_to "Afficher comme non Lu", articles_markpalu_path(id: article.id), :remote => true %>
        <% end %>
      </div>
    </div>
</li>
