
<div class="container">
  <%= simple_form_for @flux, remote: true do |f| %>
    <%= f.input :Title %>
    <%= f.input :Url %>
    <%= f.button :submit %>
  <% end %>
  <div class="row" id="fluxes">
    <% @fluxes.each do |flux| %>
      <%= render 'fluxes/show', flux: flux %>
    <% end %>
  </div>
</div>
